@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  font-family: 'Nunito', sans-serif;
  color: #302b2b;
}
.btn__text {
  text-transform: none;
}

.v-messages__message {
  color: #ff4343;
}

html {
  ::-webkit-scrollbar {
    display: none;
  }
}
